<p id="notice"><%= notice %></p>

<p>
  <strong>Ubicacion:</strong>
  <%= @ubicacion.Ubicacion %>
</p>

<p>
  <strong>Nombreubicacion:</strong>
  <%= @ubicacion.NombreUbicacion %>
</p>

<%= link_to 'Edit', edit_ubicacion_path(@ubicacion) %> |
<%= link_to 'Back', ubicacions_path %>
