<%= form_for(@arrendatario) do |f| %>
  <% if @arrendatario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arrendatario.errors.count, "error") %> prohibited this arrendatario from being saved:</h2>

      <ul>
      <% @arrendatario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Usuario_id %><br>
    <%= f.collection_select :Usuario_id, Usuario.joins("LEFT JOIN arrendatarios ON usuarios.idS = arrendatarios.usuario_id").where("arrendatarios.usuario_id IS NULL").order(:Nombre), :id, :Nombre, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
