<%= form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_del_Servicio %>
    <%= f.text_field :NombreServicio %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %>
    <%= f.text_area :Descripcion %>
  </div>
  <div class="field">
    <div class="span3">
      <%= f.label :Estado_del_Servicio %>
    </div>
    <div class="span8">
      <%= f.check_box :EstadoServicio %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :Agregar %>
  </div>
<% end %>
