<h1>Listing inventario_propiedads</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Propiedad</th>
      <th>Cantidaditem</th>
      <th>Fechainventario</th>
      <th>Numeracioninventario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventario_propiedads.each do |inventario_propiedad| %>
      <tr>
        <td><%= inventario_propiedad.Item %></td>
        <td><%= inventario_propiedad.Propiedad %></td>
        <td><%= inventario_propiedad.CantidadItem %></td>
        <td><%= inventario_propiedad.FechaInventario %></td>
        <td><%= inventario_propiedad.NumeracionInventario %></td>
        <td><%= link_to 'Show', inventario_propiedad %></td>
        <td><%= link_to 'Edit', edit_inventario_propiedad_path(inventario_propiedad) %></td>
        <td><%= link_to 'Destroy', inventario_propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventario propiedad', new_inventario_propiedad_path %>
