<%= form_for(@propietario) do |f| %>
  <% if @propietario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propietario.errors.count, "error") %> prohibited this propietario from being saved:</h2>

      <ul>
      <% @propietario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select(:Propietario_id, Propiedads.all, :id, :DireccionPropiedad ) %>
  <div class="field">
    <%= f.label :Usuario_id %><br>
    <%= f.text_field :Usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
