<%= form_for(@solicitud) do |f| %>
  <% if @solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% @solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Propiedad_id %><br>
    <%= f.text_field :Propiedad_id %>
  </div>
  <div class="field">
    <%= f.label :Arrendatario_id %><br>
    <%= f.text_field :Arrendatario_id %>
  </div>
  <div class="field">
    <%= f.label :FechaEmision %><br>
    <%= f.datetime_select :FechaEmision %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.check_box :Estado %>
  </div>
  <div class="field">
    <%= f.label :TipoSolicitud %><br>
    <%= f.text_field :TipoSolicitud %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :fin %><br>
    <%= f.date_select :fin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
