<div id="cuadro" style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
  <div class="row-fluid">
    <h1>Ingresar nueva Solicitud</h1>
    <br>
    <div style="margin-left: 10px; margin-bottom: 20px">
      <%= form_for(@solicitud) do |f| %>
        <% if @solicitud.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

            <ul>
            <% @solicitud.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field" style="display:none">
          <%= f.label :Propiedad_id %><br>
          <%= f.text_field :Propiedad_id, :value =>  Propiedad.find(params[:format]).id%>
        </div>
        <div class="field" style="display:none">
          <%= f.label :Arrendatario_id %><br>
          <%= f.text_field :Arrendatario_id, :value =>   Usuario.where("Rut = ?",current_user.username).first.Arrendatario.id %>
        </div>
        <div class="field" style="display:none">
          <%= f.label :FechaEmision %><br>
          <%= f.datetime_select :FechaEmision %>
        </div>
        <div class="field" style="display:none">
          <%= f.label :Estado %><br>
          <%= f.check_box :Estado %>
        </div>
        <div class="field" style="display:none">
          <%= f.label :TipoSolicitud %><br>
          <%= f.text_field :TipoSolicitud %>
        </div>
        <div class="field">
          <%= f.label :inicio %>
          <%= f.date_select :inicio, start_year: 2014%>
        </div>
        <div class="field">
          <%= f.label :fin %>
          <%= f.date_select :fin, start_year: 2014 %>
        </div>
        <div class="actions">
          <%= f.submit :Enviar_Solicitud %>
        </div>
      <% end %>


      <%= link_to 'Atrás', "/propiedads/buscar_propiedad", :class => "btn btn-default" %>

    </div>
  </div>
</div>