<p id="notice"><%= notice %></p>

<p>
  <strong>Propiedad:</strong>
  <%= @solicitud.Propiedad %>
</p>

<p>
  <strong>Arrendatario:</strong>
  <%= @solicitud.Arrendatario %>
</p>

<p>
  <strong>Fechaemision:</strong>
  <%= @solicitud.FechaEmision %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @solicitud.Estado %>
</p>

<p>
  <strong>Tiposolicitud:</strong>
  <%= @solicitud.TipoSolicitud %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @solicitud.inicio %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @solicitud.fin %>
</p>

<%= link_to 'Ir a Mis Solicitudes', "/solicituds/ver_solicitudes_clientes" %>
