<p id="notice"><%= notice %></p>

<p>
  <strong>Propiedad:</strong>
  <%= @solicitud.Propiedad %>
</p>

<p>
  <strong>Arrendatario:</strong>
  <%= @solicitud.Arrendatario %>
</p>

<p>
  <strong>Calendario:</strong>
  <%= @solicitud.Calendario %>
</p>

<p>
  <strong>Calendario:</strong>
  <%= @solicitud.Calendario %>
</p>

<p>
  <strong>Fechaemision:</strong>
  <%= @solicitud.FechaEmision %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @solicitud.Estado %>
</p>

<p>
  <strong>Tiposolicitud:</strong>
  <%= @solicitud.TipoSolicitud %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicituds_path %>
