<h1>Listing valor_arriendos</h1>

<table>
  <thead>
    <tr>
      <th>Tipoarriendo</th>
      <th>Propiedad</th>
      <th>Valordefinido</th>
      <th>Temporada</th>
      <th>Valoractivo</th>
      <th>Fechainiciotemp</th>
      <th>Fechaterminotemp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valor_arriendos.each do |valor_arriendo| %>
      <tr>
        <td><%= valor_arriendo.TipoArriendo %></td>
        <td><%= valor_arriendo.Propiedad %></td>
        <td><%= valor_arriendo.ValorDefinido %></td>
        <td><%= valor_arriendo.Temporada %></td>
        <td><%= valor_arriendo.ValorActivo %></td>
        <td><%= valor_arriendo.FechaInicioTemp %></td>
        <td><%= valor_arriendo.FechaTerminoTemp %></td>
        <td><%= link_to 'Show', valor_arriendo %></td>
        <td><%= link_to 'Edit', edit_valor_arriendo_path(valor_arriendo) %></td>
        <td><%= link_to 'Destroy', valor_arriendo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valor arriendo', new_valor_arriendo_path %>
