<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_del_Item %>
    <%= f.text_field :NombreItem %>
    <% if @item.errors.any? %>
     <ul>
        <% @item.errors.each do |atributo, mensaje| %>
        <li> <%= mensaje %> </li>
        <% end %>
     </ul>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %>
    <%= f.text_area :DescripcionItem %>
  </div>
  <div class="field">
    <div class="span3">
      <%= f.label :Estado_del_Item %>
    </div>
    <div class="span8">
      <%= f.check_box :EstadoItem %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :Guardar %>
  </div>
<% end %>
