<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreitem:</strong>
  <%= @item.NombreItem %>
</p>

<p>
  <strong>Descripcionitem:</strong>
  <%= @item.DescripcionItem %>
</p>

<p>
  <strong>Estadoitem:</strong>
  <%= @item.EstadoItem %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
