<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rut %>
    <%= f.text_field :Rut %>
  </div>
  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field">
    <%= f.label :Apellido %>
    <%= f.text_field :Apellido %>
  </div>
  <div class="field">
    <%= f.label :FechaNac %>
    <%= f.date_select :FechaNac %>
  </div>
  <div class="field">
    <%= f.label :Mail %>
    <%= f.text_field :Mail %>
  </div>
  <div class="field">
    <%= f.label :Telefono %>
    <%= f.number_field :Telefono %>
  </div>
  <div class="field">
    <%= f.label :Direccion %>
    <%= f.text_field :Direccion %>
  </div>
  <div class="field">
    <%= f.label :FechaRegistro %>
    <%= f.date_select :FechaRegistro %>
  </div>
  <div class="field">
    <%= f.label :administrador %>
    <%= f.check_box :administrador %>
  </div>
  <div class="actions">
    <%= f.submit :Guardar %>
  </div>
<% end %>
