<div id="cuadro" style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
  <h1>Acceso Usuario</h1>
  <div style="overflow: auto; word-break: break-all; height: 300px; border: solid 2px; margin-left: 5px; margin-right: 5px">
<%= form_for(@usuario, url: "/usuarios/habilitar_prop") do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none">
    <%= f.label :Rut %><br>
    <%= f.text_field :Rut %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Apellido %><br>
    <%= f.text_field :Apellido %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :FechaNac %><br>
    <%= f.date_select :FechaNac %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Mail %><br>
    <%= f.text_field :Mail %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Telefono %><br>
    <%= f.number_field :Telefono %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Direccion %><br>
    <%= f.text_field :Direccion %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :FechaRegistro %><br>
    <%= f.date_select :FechaRegistro %>
  </div>
  <div class="field">
    <%= f.label "Acceso la sistema" %><br>
    <%= f.check_box :administrador %>
  </div>
  <div class="actions">
    <%= f.submit :Actualizar %>
  </div>
<% end %>
  </div>
  <%= link_to 'Atrás', "/usuarios/habilitar_prop", :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
  <br>
</div>
