<h1>Acceso usuario</h1>

<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none">
    <%= f.label :Rut %><br>
    <%= f.text_field :Rut %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Apellido %><br>
    <%= f.text_field :Apellido %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :FechaNac %><br>
    <%= f.date_select :FechaNac %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Mail %><br>
    <%= f.text_field :Mail %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Telefono %><br>
    <%= f.number_field :Telefono %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :Direccion %><br>
    <%= f.text_field :Direccion %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :FechaRegistro %><br>
    <%= f.date_select :FechaRegistro %>
  </div>
  <div class="field"">
    <%= f.label "Acceso la sistema" %><br>
    <%= f.check_box :administrador %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', usuarios_path %>
