<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fechanac</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Fecharegistro</th>
      <th>Administrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.Rut %></td>
        <td><%= usuario.Nombre %></td>
        <td><%= usuario.Apellido %></td>
        <td><%= usuario.FechaNac %></td>
        <td><%= usuario.Mail %></td>
        <td><%= usuario.Telefono %></td>
        <td><%= usuario.Direccion %></td>
        <td><%= usuario.FechaRegistro %></td>
        <td><%= usuario.administrador %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
