<div id="cuadro" style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
  <h1>Propietario</h1>
  <div style="overflow: auto; word-break: break-all; height: 300px; border: solid 2px; margin-left: 5px; margin-right: 5px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @usuario.Rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.Nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.Apellido %>
</p>

<p>
  <strong>Fechanac:</strong>
  <%= @usuario.FechaNac %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @usuario.Mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.Telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario.Direccion %>
</p>

<p>
  <strong>Fecha registro:</strong>
  <%= @usuario.FechaRegistro %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @usuario.administrador %>
</p>
  </div>
  <%= link_to 'Atrás', "/usuarios/habilitar_prop",  :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
  <br>
</div>
