<h1>Listing contrato_propiedads</h1>

<table>
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Fechainicio</th>
      <th>Duracioncontrato</th>
      <th>Contratodigital</th>
      <th>Vigencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contrato_propiedads.each do |contrato_propiedad| %>
      <tr>
        <td><%= contrato_propiedad.Propiedad %></td>
        <td><%= contrato_propiedad.FechaInicio %></td>
        <td><%= contrato_propiedad.DuracionContrato %></td>
        <td><%= contrato_propiedad.ContratoDigital %></td>
        <td><%= contrato_propiedad.Vigencia %></td>
        <td><%= link_to 'Show', contrato_propiedad %></td>
        <td><%= link_to 'Edit', edit_contrato_propiedad_path(contrato_propiedad) %></td>
        <td><%= link_to 'Destroy', contrato_propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato propiedad', new_contrato_propiedad_path %>
