<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Proyecto</title>
  <style type="text/css">
    html,body{
    height:100%;
    background-image: url("/logoTransp.jpg");
    background-repeat: no-repeat;
    background-position: center 170px;
    background-attachment: fixed;
    }
    #page-wrap{
    width: 100%;
    margin: auto;
    height: auto;
    min-height:100%;
    }
     
    #page-wrap:after{
    width: 100%;
    height:150px;
    display:block;
    clear:both;
    }
     
    #footer{
    width: 100%;
    height: 150px;
    margin: -150px auto 0;
    }

    .notificationCont {
  position: relative;
  width:90px;
  padding-top:10px;
}

.notification {
  border-radius: 10px;
  background: linear-gradient(top, #FF3019 0, #CF0404 75%);
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.75);
  box-shadow: 1px 1px 5px rgba(0,0,0,.75);
  display: block;
  background: #FF3019;
  background-repeat: repeat-x;
  background: linear-gradient(top, #FF3019 0, #CF0404 75%);
  position: absolute;
  right: -8px;
  font-size: 9px;
  color: white;
  padding: 3px 4px;
  top:5px;
  line-height: 90%;
  text-shadow: none;
}
.btn {  
  border: 1px solid #CCC;
  background-color: #C43C35;
  background-repeat: repeat-x;  
  background-image: linear-gradient(top, #EE5F5B, #C43C35); 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25); 
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25); 
  
  padding: 7px 9px 7px;
  font-size: 11px;  
  border-radius: 4px;
  color: white;
  cursor:pointer;
  display:inline-block;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); 
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
  -webkit-appearance: button;
  line-height:normal; 
  box-sizing: border-box; 
  font-family: Verdana,sans-serif;
}
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="row-fluid" style = "background: black">
        <div class="col-full" >
            <div class="span8">
                 <img src="/logo3.jpg" align="left">
            </div>
            <div class="span4">
                <img src="/logo4.jpg" align= "right">
            </div>
        </div>
    </div>
    <div id="user_nav">
      <% if user_signed_in? %>
          <div class="row" style = "background: black; height: 30px; border: 2px solid white">
              <div class="span12" align="left">
                <h4 style ="font-family: 'Calibri'; color: #3B82CC; font-size: 15px; line-height: 50%">
                   Bienvenido,  <%= current_user.username %>
                </h4>
              </div>
              <div class="span2" align = "right">
                <div class="notificationCont">
                  <span class="notification">3</span>
                  <button class="btn btn-default" style= "color: white; background: #3B82CC; line-height: 50%">Solicitud</button>
                </div>
              </div>
              <div class="span2" align="right">
                 <%= button_to "Cerrar Sesion", destroy_user_session_path, :method => :delete, :class => 'btn btn-link' %>
              </div>
          </div>
        
      <% end %>
      <% if user_signed_in? && current_user.has_role?(:prop) %>
        <div class="container" align="center">
          <div class="row-fluid" align= "center">
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-home button" href="/">Home</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-building button" href="/propiedads/propiedad_usuario">Mis Propiedades</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-money button" href="/prop/constr">Pagos y Cobros</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-file-alt button" href="/prop/constr">Mi contrato</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr style="border-color: black" >
      <% elsif user_signed_in? && current_user.has_role?(:arrend) %>
        <div class="container" align="center">
          <div class="row-fluid" align= "center">
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-home button" href="/">Home</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-search button" href="/prop/constr">Buscar</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-exchange button" href="/prop/constr">Mis Arriendos</a>
              </div>
            </div>
            <div class="span3">
              <div class = "icon">
                <a class="fontawesome-eye-open button" href="/prop/constr">Mis solicitudes</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr style="border-color: black" >
      <% elsif user_signed_in? %>
        <div style="margin-left: 10%; margin-right: 5%" align="center">
          <div class="row-fluid">
            <div class="span2"></div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-home button" href="/">Home</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-group button" href="/prop/constr">Usuarios</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-building button" href="/prop/constr">Propiedades</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-key button" href="/prop/constr">Propietarios</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-exchange button"  href="/prop/constr">Arriendos</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-wrench button" href="/servicios">Servicios</a>
              </div>
            </div>
            <div class="span1">
              <div class = "icon">
                <a class="fontawesome-coffee button" href="/items">Items</a>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-color: black" >
      <% end %>
    </div>
</head>
<p>
</p>

<body>
  <div id="page-wrap">
   <%= yield %>  
  </div> 
</body>

<p>
</p>

<div id ="footer" class="footer" style="background-color: black">
  <div class="container" style = "color: #D0CECF">
        <div class="span4">
            <div class="about-us">
                <h4>Acerca de nosotros</h4>
                <p>RPS ha sido desarrollado por el grupo de PBD del primer semestre de 2014.</p>
            </div>
        </div>
        <div class="span3">
            <div class="contact-us">
                <h4>Contactanos</h4>
                <li>Tel(+56-9)5-0140003 </li>
            </div>
        </div>

        <div class="span4">
            <div class="links">
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="http://www.usach.cl/" class="replace" target="_blank">Universidad de Santiago de Chile</a></li>
                    <li><a href="http://www.fing.usach.cl/sitioFING/">Facultad de ingeniería</a></li>
                    <li><a href="http://www.informatica.usach.cl/">Departamento de ingeniería informática</a></li>
                </ul>
            </div>
        </div>
    </div>  
</div>

</html>
