<%= form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span5">
      <%= f.label :Ubicacion_id %>
      <%= f.collection_select :Ubicacion_id, Ubicacion.order(:id), :id,:NombreUbicacion, include_blank: false %>
    </div>
    <div class="span5">
      <%= f.label :TipoPropiedad_id %>
      <%= f.collection_select :TipoPropiedad_id, TipoPropiedad.order(:id), :id,:NombreTipo, include_blank: false %>
    </div>
  </div>
  <div class="field">
    <div class="span5">
      <%= f.label :Propietario_id %>
      <%= f.collection_select :Propietario_id, Propietario.order(:id), :id,:id, include_blank: false %>
    </div>
    <div class="span5">
      <%= f.label :DireccionPropiedad %>
      <%= f.text_field :DireccionPropiedad %>
    </div>
  </div>
  <div class="field">
    <div class="span3">
      <%= f.label :Estacionamiento %>
      <%= f.check_box :Estacionamiento %>
    </div>
    <div class="span3">
      <%= f.label :Bodega %>
      <%= f.check_box :Bodega %>
    </div>
    <div class="span3">
      <%= f.label :Equipada_Muebles %>
      <%= f.check_box :EquipadaMuebles %>
    </div>
    <div class="span3">
      <%= f.label :Habilitada %>
      <%= f.check_box :Habilitada %>
    </div>
  </div>
  <div class="field">
    <div class="span5">
      <%= f.label :M2Totales %>
      <%= f.number_field :M2Totales %>
    </div>
    <div class="span5">
      <%= f.label :Descripcion %>
      <%= f.text_area :Descripcion %>
    </div>
  </div>
  <div class="actions">
    <div class="span14">
      <%= f.submit :Guardar %>
    </div>
  </div>
<% end %>
