<h1>Buscar Propiedades</h1>

<%= search_form_for @q, url: "buscar_propiedad" do |f| %>
  <%= f.label :TipoPropiedad_id %>
  <%= f.select :TipoPropiedad_id_eq, options_from_collection_for_select(TipoPropiedad.all, "id", "NombreTipo"), include_blank: false %>
    <%= f.select :Ubicacion_id_eq, options_for_select(@regiones.collect { |ubicacion| [ubicacion.NombreUbicacion.titleize, ubicacion.id] }, 1), {}, { id: 'regiones_select' } %>
  <%= f.select :Ubicacion_id_eq, options_for_select(@comunas.collect { |ubicacion| [ubicacion.NombreUbicacion.titleize, ubicacion.id] }, 0), {}, { id: 'comunas_select' } %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Ubicacion</th>
      <th>Tipopropiedad</th>
      <th>Propietario</th>
      <th>Direccionpropiedad</th>
      <th>Habilitada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedads.each do |propiedad| %>
      <tr>
        <td><%= propiedad.Ubicacion %></td>
        <td><%= propiedad.TipoPropiedad %></td>
        <td><%= propiedad.Propietario %></td>
        <td><%= propiedad.DireccionPropiedad %></td>
        <td><%= propiedad.Habilitada %></td>
        <td><%= link_to 'Show', propiedad %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>