<div id="cuadro" style="background: #B0A9AA; margin-left: 15%; margin-right: 15%; border: solid 2px">
  <h1>Propiedades</h1>
  <div style="overflow: auto; word-break: break-all; height: 300px; border: solid 2px; margin-left: 5px; margin-right: 5px">
    <table border=2 align="center" style="table-layout: fixed; blackground: white">
      <thead>
        <tr>
          <th width="10%">Ubicacion</th>
          <th width="10%">Tipo de propiedad</th>
          <th width="10%">Propietario</th>
          <th width="10%">Direccion de propiedad</th>
          <th width="10%">Equipada con muebles</th>
          <th width="10%">M2 totales</th>
          <th width="20%">Descripcion</th>
          <th width="10%">Habilitada</th>
          <th width="5%"></th>
        </tr>
      </thead>

      <tbody>
        <% @propiedads.each do |propiedad| %>
          <tr>
            <td><%= Ubicacion.find(propiedad.Ubicacion).NombreUbicacion %></td>
            <td><%= TipoPropiedad.find(propiedad.TipoPropiedad).NombreTipo %></td>
            <td><%= Usuario.find(Propietario.find(propiedad.Propietario).Usuario_id).Nombre %> <%= Usuario.find(Propietario.find(propiedad.Propietario).Usuario_id).Apellido%></td>
            <td><%= propiedad.DireccionPropiedad %></td>
            <% if propiedad.EquipadaMuebles? %>
              <td>Amueblada </td>
            <% else %>
              <td>No amueblada</td>
            <% end %>
            <td><%= propiedad.M2Totales %></td>
            <td><%= propiedad.Descripcion %></td>
            <% if propiedad.Habilitada? %>
              <td>Habilitado </td>
            <% else %>
              <td>DesHabilitado</td>
            <% end %>
            <td><%= link_to 'Show', propiedad %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'Nueva Propiedad', new_propiedad_path, :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
  <%= link_to 'Generar Contrato', "", :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
</div>