<h1>Listing propiedads</h1>

<table>
  <thead>
    <tr>
      <th>Ubicacion</th>
      <th>Tipopropiedad</th>
      <th>Propietario</th>
      <th>Direccionpropiedad</th>
      <th>Estacionamiento</th>
      <th>Bodega</th>
      <th>Equipadamuebles</th>
      <th>M2totales</th>
      <th>Descripcion</th>
      <th>Habilitada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedads.each do |propiedad| %>
      <tr>
        <td><%= propiedad.Ubicacion %></td>
        <td><%= propiedad.TipoPropiedad %></td>
        <td><%= propiedad.Propietario %></td>
        <td><%= propiedad.DireccionPropiedad %></td>
        <td><%= propiedad.Estacionamiento %></td>
        <td><%= propiedad.Bodega %></td>
        <td><%= propiedad.EquipadaMuebles %></td>
        <td><%= propiedad.M2Totales %></td>
        <td><%= propiedad.Descripcion %></td>
        <td><%= propiedad.Habilitada %></td>
        <td><%= link_to 'Show', propiedad %></td>
        <td><%= link_to 'Edit', edit_propiedad_path(propiedad) %></td>
        <td><%= link_to 'Destroy', propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedad', new_propiedad_path %>
