<p id="notice"><%= notice %></p>

<p>
  <strong>Ubicacion:</strong>
  <%= @propiedad.Ubicacion %>
</p>

<p>
  <strong>Tipopropiedad:</strong>
  <%= @propiedad.TipoPropiedad %>
</p>

<p>
  <strong>Propietario:</strong>
  <%= @propiedad.Propietario %>
</p>

<p>
  <strong>Direccionpropiedad:</strong>
  <%= @propiedad.DireccionPropiedad %>
</p>

<p>
  <strong>Estacionamiento:</strong>
  <%= @propiedad.Estacionamiento %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @propiedad.Bodega %>
</p>

<p>
  <strong>Equipadamuebles:</strong>
  <%= @propiedad.EquipadaMuebles %>
</p>

<p>
  <strong>M2totales:</strong>
  <%= @propiedad.M2Totales %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @propiedad.Descripcion %>
</p>

<p>
  <strong>Habilitada:</strong>
  <%= @propiedad.Habilitada %>
</p>

<%= link_to 'Edit', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Back', propiedads_path %>
