<div style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Ubicacion:</strong>
    <%= Ubicacion.find(@propiedad.Ubicacion).NombreUbicacion %>
  </p>

  <p>
    <strong>Tipo Propiedad:</strong>
    <%= TipoPropiedad.find(@propiedad.TipoPropiedad).NombreTipo %>
  </p>

  <p>
    <strong>Propietario:</strong>
    <%= Usuario.find(Propietario.find(@propiedad.Propietario).Usuario_id).Rut %>
  </p>

  <p>
    <strong>Direccion Propiedad:</strong>
    <%= @propiedad.DireccionPropiedad %>
  </p>

  <p>
    <strong>Estacionamiento:</strong>
    <%= @propiedad.Estacionamiento %>
  </p>

  <p>
    <strong>Bodega:</strong>
    <%= @propiedad.Bodega %>
  </p>

  <p>
    <strong>Equipadamuebles:</strong>
    <%= @propiedad.EquipadaMuebles %>
  </p>

  <p>
    <strong>M2totales:</strong>
    <%= @propiedad.M2Totales %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @propiedad.Descripcion %>
  </p>

  <p>
    <strong>Habilitada:</strong>
    <%= @propiedad.Habilitada %>
  </p>
  <% if user_signed_in? && current_user.has_role?(:arrend) %>
    <%= link_to 'Realizar Solicitud', new_solicitud_path(@propiedad), :class => "btn btn-default" %> |
  <% end %>
  <%= link_to 'Atrás', "/propiedads/buscar_propiedad", :class => "btn btn-default" %>
</div>
